/* 客製 */
.p30 {
  padding: 30px;
}
.pt100 {
  padding-top: 100px;
}

.pt350 {
  padding-top: 350px;
}
a:hover {
  color: rgba(0, 0, 0, 0.363);
  text-decoration: none;
}

.mb110 {
  margin-bottom: 110px;
}
.mt50 {
  margin-top: 50px;
}

/* myCarousel  */
#myCarousel {
  height: 100vh;
  width: 100%;
}
html,
body {
  height: 100%;
}
.carousel,
.item,
.active {
  height: 100%;
}
.carousel-inner {
  height: 100%;
}

.carousel-inner > .item > img {
  height: 100%;
}

.carousel-item img {
  object-fit: cover;
}

.carousel-item {
  position: relative;
}
.carousel-item h1 {
  position: absolute;
  top: 0px;
  left: 80px;
  border-top: 2px solid black;
  width: 13px;
  /* margin-left: 24px; */
  text-indent: -29px;
  line-height: 0.5;
}

.banner-txt {
  position: absolute;
  top: 130px;
  left: 45px;
}
.carousel-item h1,
h3,
h5 {
  color: black;
  font-family: "Cormorant Garamond", serif;
}
/* nav */
nav {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: #e2cdbf;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.534);
  font-size: 20px;
  font-weight: 550;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: rgba(0, 0, 0, 0.363);
}
.dropdown-item:focus,
.dropdown-item {
  color: rgba(0, 0, 0, 0.363);
  font-size: 16px;
}
.dropdown-item:focus,
.dropdown-item:hover {
  color: rgba(0, 0, 0, 0.363);
}
.nav-item {
  padding: 5px 20px;
}

.nav-link {
  display: inline;
  padding: 0.2rem 1rem;
}
form {
  margin-left: auto;
}
form .fas,
.fa {
  font-size: 20px;
  margin-left: 10px;
  color: rgba(0, 0, 0, 0.363);
  padding-right: 6px;
}

.product-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.bottom-style {
  transform: translateY(280px);
}

.title-wrapper {
  position: relative;
}

.title {
  font-size: 75px;
  font-family: "Cormorant Garamond", serif;
  position: absolute;
  top: -35%;
  left: -5%;
}

/* gift */
.gift-img {
  width: 100%;
  height: 440px;
  object-fit: contain;
  transition: 2s;
  transform: rotate(35deg);
}
.img-border {
  border: 2px solid #a86a54e3;
}
/* .gift-style {
  text-align: center;
  font-weight: 500;
  border-bottom: 4px solid rgba(0, 0, 0, 0.479);
  width: 7%;
  margin: 0 auto;
  padding-bottom: 5px;
  margin-bottom: 30px;
  font-size: 60px;
} */
.txt {
  background-color: #a86a54e3;
  padding: 35px 35px;
}
.txt h1 {
  color: rgba(0, 0, 0, 0.479);
  font-weight: 700;
  padding-bottom: 10px;
  font-family: "Cormorant Garamond", serif;
}
.txt p {
  font-size: 20px;
  font-family: "Cormorant Garamond", serif;
}
.border-style {
  background-color: white;
  color: #b9a394;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  padding: 10px 10px;
  margin-left: auto;
}
.border-style:hover {
  box-shadow: 4px 4px 1px #b9a394;
  cursor: pointer;
}

.fas.fa-chevron-right {
  margin-left: 10px;
}

/* banner2 */
.banner-wrapper {
  position: relative;
  margin-top: 300px;
}

.banner2::after {
  content: "";
  display: block;
  position: absolute;
  top: 20px;
  left: 20px;
  bottom: 20px;
  right: 20px;
  background-color: rgba(236, 228, 228, 0.486);
  z-index: 1;
}
.banner2 h1 {
  position: absolute;
  top: 55px;
  left: 30px;
  writing-mode: vertical-lr;
  z-index: 2;
  font-family: "Cormorant Garamond", serif;
  letter-spacing: 3px;
}
.banner-wrapper img {
  width: 100%;
  object-fit: cover;
  height: 550px;
}

/* product */
.pro-txt {
  background-color: #b9a394;
  width: 100%;
  height: 250px;
  margin-top: -20px;
}

.pro-introduce h4 {
  padding-top: 80px;
  color: #fffef0;
  text-align: center;
}
.pro-img img {
  width: 80%;
  object-fit: cover;
  margin: -100px -10px;
  cursor: pointer;
}
.pro-img .pro-img-txt {
  margin-top: 45px;
  background-color: #d8c6ae;
  padding: 30px 20px;
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 3px;
  text-indent: -3px;
  cursor: pointer;
  transition: all 1.5s;
  box-shadow: 4px 4px 1px #888;
}
.fas.fa-chevron-down {
  margin-left: 10px;
}
.fas.fa-chevron-up {
  margin-left: 10px;
}
/* .chevron-active {
  transform: rotate(180deg);
} */

/* .toggleBtn {
  display: block;
  background-color: #b9a394;
  width: 100%;
} */

.hide {
  display: none;
}

.showStyle {
  width: 100%;
  height: 80px;
  background-color: #b9a394;
  transition: 1.5s;
  box-shadow: 4px 4px 1px #888;
  padding: 15px 15px;
  color: white;
  font-weight: 700;
}

.pro-detail {
  background-color: #d8c6ae;
  justify-content: end;
  align-items: center;
  height: 650px;
}
.pro-detail h4 {
  text-align: right;
  /* writing-mode: vertical-lr; */
  z-index: 2;
  font-family: "Cormorant Garamond", serif;
  letter-spacing: 3px;
  text-indent: -3px;
  border-bottom: 1px solid black;
  padding-bottom: 7px;
}
.pro-detail img {
  width: 100%;
  height: 350px;
  /* height: 50vh; */
  object-fit: cover;
}
.footer-copyright {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  background-color: #b9a394;
}
.footer-icon {
  color: white;
  font-size: 20px;
  margin-left: 20px;
}

@media (max-width: 567px) {
  .bottom-style {
    transform: translateY(0px);
  }
  .title {
    top: -30%;
    left: 3px;
  }
  .banner-wrapper {
    margin-top: 40px;
  }
  .product-img {
    margin-bottom: 50px;
  }
  .pro-img img {
    margin: 10px;
  }
  .pro-detail {
    height: 100vh;
    margin-top: 10px;
  }
  /* .pro-detail h4 {
    padding-top: 15px;
  } */
  .pro-detail img {
    height: 250px;
    object-fit: cover;
    margin-top: 20px;
  }
}
